# Ignore Virtual Environments
venv/
env/
.venv/
.env/
clean_env/
myenv/

# VS Code Configurations
.\.vscode\

# Environment variables and secrets
.env
*.env

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Documentation python module for pulsarfitpy
docs/pulsarfitpy.py

# Jupyter Checkpoints
docs/.ipynb_checkpoints